* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    height: 100vh;
    background-color: black;
}
.browse{
    filter: invert(1);
    width: 30px;
    height: 30px;
    margin: 5px;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 72px;
    padding: 0 25px;

    background: black;
    z-index: 1000;
}

.nav-left, .nav-middle, .nav-right{
    display: flex;
    align-items: center;
}

.search-box{
    display: flex;
    align-items: center;
    width: 450px;
    height: 48px;
    background: #2a2a2a;
    border-radius: 999px;
}
.left{
    padding-left: 14px;
}
.left img{
    width: 24px;
    height: 24px;
}
.right{
    width:48px;
    border-left:1px solid #6b6b6b;
}
.search-box input{
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 16px;
}
.home-icon{
    width: 48px;
    height: 48px;

    margin-left: 18px;
    margin-right: 18px;

    background: #242424;
    border-radius: 50%;
    padding: 10px;
}
.nav-list-left{
    display: flex;
    gap: 36px;
    list-style: none;
}
.nav-list-right{
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
}
.nav-list-left li{
    color:#b3b3b3;
    font-weight:700;
    font-size:16px;
}

.nav-list-left li:hover{
    color:white;
}
.installing{
    display:flex;
    align-items:center;
    gap:8px;
}
.line{
    width: 1px;
    height: 25px;
    background: white;
    margin-right: 25px;
}
nav img {
    width: 40px;
    height: 40px;
}


.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid white;
    border-radius: 50px;
    width: 16px;
    height: 16px;
    font-size: 13px;
}

.log-in {
    color: black;
    background-color: white;
    width: 108px;
    height: 48px;
    border: none;
    border-radius: 999px;
    font-weight: 700;
}

.box {
    display: flex;
    box-sizing: border-box;
}

.sidebar {
    background-color: rgb(18, 18, 18);
    border-radius: 20px;
    width: 30vw;
    padding: 10px;
    height: 85vh;
    position: fixed;
    left: 10px;
    top: 15vh;
}

.heading {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
    font-size: 13px;
    align-items: center;
}

.createbtn {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    background-color: rgb(58, 58, 58);
    padding: 5px 16px;
    width: fit-content;
    font-weight: 500;
    border-radius: 30px;
}

.s1 {
    font-size: 25px;
    font-weight: 300;
}

.sidebar .scroll {
    max-height: 50%;
    overflow-y: scroll;
}

.sidebar .playlist,
.sidebar .podcast {
    background-color: rgb(28, 28, 28);
    margin: 20px 0px;
    width: 95%;
    border-radius: 10px;
    padding: 10px;
}

.playlist .p1,
.podcast .p1 {
    font-weight: bold;
    margin: 7px;

}

.playlist .p2,
.podcast .p2 {
    font-size: 12px;
    margin: 7px;

}

.sidebar .scroll button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 30px;
    padding: 8px 15px;
    margin: 7px;
    font-weight: bold;
}


.footer {
    position: absolute;
    bottom: 90px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 12px;
    flex-direction: row;
    font-size: 13px;
}

.footer a {
    color: grey;
    text-decoration: none;
}

.lang {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 5px 10px;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.lang img {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.container {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 32vw;
    margin-right: 10px;
    margin-top: 15vh;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(22, 22, 22);
    width: 60vw;
    height: calc(100vh - 15vh - 20px);
}
.container h2{
    margin: 8px 0;
}

.trending,
.artists,
.album,
.radio,
.charts {
    margin: 20px;
    width: 95%;
    height: 300px;
}
.trending-container , .artist-container , .album-container , .chart-container , .radio-container{
    display: flex;
}

.trending {
    overflow-x: scroll;
    scrollbar-width: none;
    overflow-y: hidden;
}

.trending .card {
    height: 300px;
    width: 200px;
    margin: 10px;
}

.song{
    color: white;
    font-size: 1rem;
    margin: 6px 0;
}
.singer{
    color: rgb(168, 168, 168);
    font-size: 0.8rem;
}
.logo {
    border-radius: 7px;
    height: 150px;
    width: 150px;
    background-size: cover;
}

.card1 {
    background-image: url("trending_thumbnails/card1.jpg");
}

.card2 {
    background-image: url("trending_thumbnails/card2.jpg");
}

.card3 {
    background-image: url("trending_thumbnails/card3.jpg");
}

.card4 {
    background-image: url("trending_thumbnails/card4.jpg");
}

.card5 {
    background-image: url("trending_thumbnails/card5.jpg");
}

.card6 {
    background-image: url("trending_thumbnails/card6.jpg");
}

.card7 {
    background-position: center;
    background-image: url("trending_thumbnails/card7.jpg");
}

.card8 {
    background-image: url("trending_thumbnails/card8.jpg");
}

.card9 {
    background-image: url("trending_thumbnails/card9.jpg");
}

.card10 {
    background-image: url("trending_thumbnails/card10.jpg");
}

.card11 {
    background-image: url("trending_thumbnails/card11.jpg");
}

.card12 {
    background-image: url("trending_thumbnails/card12.jpg");
}

.card13 {
    background-image: url("trending_thumbnails/card13.jpg");
}

.card14 {
    background-image: url("trending_thumbnails/card14.jpg");
}

.card15 {
    background-image: url("trending_thumbnails/card15.jpg");
}

.artists {
    overflow-x: scroll;
    scrollbar-width: none;
    overflow-y: hidden;
}

.artist {
    height: 300px;
    width: 250px;
    margin: 10px;
}

.photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
}

.artist1{
    background-image: url("/artists/amanraj.jpg");
}
.artist2{
    background-image: url("/artists/arijit.jpg");
}
.artist3{
    background-image: url("/artists/dhanda.jpg");
}
.artist4{
    background-image: url("/artists/honeySingh.jpg");
}
.artist5{
    background-image: url("/artists/pritam.jpg");
}
.artist6{
    background-image: url("/artists/rahman.jpg");
}
.artist7{
    background-image: url("/artists/sachinJigar.jpg");
}
.artist8{
    background-image: url("/artists/shreya.png");
}
.artist9{
    background-image: url("/artists/sumit.jpg");
    background-position: center;
}
.artist10{
    background-image: url("/artists/udit.jpg");
}

.albums , .charts{
    overflow-x: scroll;
    scrollbar-width: none;
    overflow-y: hidden;
}

.albums .album , .charts .chart{
    height: 300px;
    width: 200px;
    margin: 10px;
}

.album1{
    background-image: url("/albums/album1.jpg");
}
.album2{
    background-image: url("/albums/album2.jpg");
}
.album3{
    background-image: url("/albums/album3.jpg");
}
.album4{
    background-image: url("/albums/album4.jpg");
}
.album5{
    background-image: url("/albums/album5.jpg");
}
.album6{
    background-image: url("/albums/album6.jpg");
}
.album7{
    background-image: url("/albums/album7.jpg");
}
.album8{
    background-image: url("/albums/album8.jpg");
}
.album9{
    background-image: url("/albums/album9.jpg");
}

.radios {
    overflow-x: scroll;
    scrollbar-width: none;
}

.radio img {
    height: 300px;
    width: 200px;
    margin: 10px;
}

.radio1{
    background-image: url("https://pickasso.spotifycdn.com/image/ab67c0de0000deef/dt/v1/img/radio/artist/4YRxDV8wJFPHPTeXepOstw/en");
}
.radio2{
    background-image: url("https://pickasso.spotifycdn.com/image/ab67c0de0000deef/dt/v1/img/radio/artist/4fEkbug6kZzzJ8eYX6Kbbp/en");
}
.radio3{
    background-image: url("https://pickasso.spotifycdn.com/image/ab67c0de0000deef/dt/v1/img/radio/artist/0oOet2f43PA68X5RxKobEy/en");
}
.radio4{
    background-image: url("https://pickasso.spotifycdn.com/image/ab67c0de0000deef/dt/v1/img/radio/artist/3gBKY0y3dFFVRqicLnVZYz/en");
}
.radio5{
    background-image: url("https://pickasso.spotifycdn.com/image/ab67c0de0000deef/dt/v1/img/radio/artist/2FKWNmZWDBZR4dE5KX4plR/en");
}
.radio6{
    background-image: url("https://pickasso.spotifycdn.com/image/ab67c0de0000deef/dt/v1/img/radio/artist/1mYsTxnqsietFxj1OgoGbG/e");
}
.radio7{
    background-image: url("https://pickasso.spotifycdn.com/image/ab67c0de0000deef/dt/v1/img/radio/artist/7uIbLdzzSEqnX0Pkrb56cR/en");
}
.radio8{
    background-image: url("https://pickasso.spotifycdn.com/image/ab67c0de0000deef/dt/v1/img/radio/artist/4PULA4EFzYTrxYvOVlwpiQ/en");
}
.radio9{
    background-image: url("https://pickasso.spotifycdn.com/image/ab67c0de0000deef/dt/v1/img/radio/artist/0GF4shudTAFv8ak9eWdd4Y/en");
}
.radio10{
    background-image: url("https://pickasso.spotifycdn.com/image/ab67c0de0000deef/dt/v1/img/radio/artist/4K6blSRoklNdpw4mzLxwfn/en");
}

.chart1{
    background-image: url("/charts/chart1.png");
}
.chart2{
    background-image: url("/charts/chart2.png");
}
.chart3{
    background-image: url("/charts/chart3.png");
}
.chart4{
    background-image: url("/charts/chart4.png");
}

footer{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
footer a{
    text-decoration: none;
    color: gray;
}
footer ul li{
    list-style: none;
    margin: 10px;
}
footer .titleName{
    font-weight: bold
}
.appsLogo{
    display: flex;
}
.appsLogo img{
    height: 40px;
    width: 40px;
    padding: 9px;
    filter: invert(1);
    background-color: rgb(212, 212, 212);
    border-radius: 50%;
    margin: 10px;
}
hr{
    color: gray;
    opacity: 0.2;
}